{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">
    {% if user.is_authenticated %}
        <p class="top-menu">[<a href="{% url 'logout' %}" title="ログアウト">ログアウト</a>]</p>
        <a href="{% url 'post_new' %}" class="top-menu" title="新しい記事を作成"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu" title="編集中の記事一覧"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'post_all_list' %}" class="top-menu" title="全ての記事一覧"><span class="glyphicon glyphicon-list"></span></a>
        <p class="top-menu">Hello, {{ user.username }}</p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu" title="ログイン"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>