{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        {% if user.is_authenticated %}
        <div class="post">
            <p class="date">作成: {{ post.created_date|date:'Y年m月d日 H:i' }}</p>
            {% if post.published_date %}
              	<p class="date">公開: {{ post.published_date|date:'Y年m月d日 H:i' }}</p>
            {% endif %}
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:100 }}</p>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}