.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1 {
	font-size: 36px;
	color: #ffffff;
}
.page-header h1 a:visited, .page-header h1 a:active {
	color: #fff;
  text-decoration: none;
}
.page-header span {
	font-size: 20px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20px;
    margin-right: 20px;
    line-height: 100%;
}
.top-menu a {
	padding: 0 3px;
	font-size: 14px;
	color: #fff;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
		margin: 0.5rem 0;
		font-size: 1.3rem;
    color: #828282;
    text-align: right;
}

.function-buttons {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h1 {
		margin-bottom: 0.9rem;
		font-size: 2.5rem;
}
.post h1 a, .post h1 a:visited {
    color: #000000;
}

.btn {
	margin-right: 0.5rem;
}